<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">
  
	<property name="LOG_HOME" value="C:\\temp"/>
	
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
	
    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="wexPayloadTreadlocalAppender" class="com.livngroup.gds.aop.WexPayloadTreadlocalAppender" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/wexclient-webapp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>wexclient-webapp.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
 
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE-PERFORMANCE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/wexclient-performance.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>wexclient-performance.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
         <encoder>
            <pattern>%date{yyyy-MM-dd;HH:mm:ss.SSS},%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="error" />
    <logger name="org.hibernate" level="error" />
    <logger name="com.aocsolutions.encompasswebservices" level="error" />
    <logger name="org.apache.axis2" level="error" />
    <logger name="org.apache.axiom" level="error" />
	<logger name="org.mockito" level="error" />
	<logger name="com.mangofactory.swagger" level="error" />
	<logger name="springfox.documentation" level="error" />
	<logger name="httpclient.wire" level="error" />
	<logger name="org.apache.commons.httpclient" level="error" />
    <logger name="com.livngroup.gds.service" level="debug" />
    <logger name="com.livngroup.gds.controller" level="debug" />
	<logger name="performance-monitor" level="off" />

    <logger name="request-response-logger" level="off" />
    <logger name="httpclient.wire.content" level="off">
    	<appender-ref ref="wexPayloadTreadlocalAppender" />
    </logger>

    <if condition='property("spring.profiles.active").equals("dev") || property("spring.profiles.active").equals("")'>
        <then>
            <root level="debug">
                <appender-ref ref="console"/>
                <appender-ref ref="FILE"/>
            </root>
            
		    <logger name="request-response-logger" level="trace" />
		    <logger name="httpclient.wire.content" level="debug" />
		    
		    <logger name="performance-monitor" level="trace">
		    	<appender-ref ref="FILE-PERFORMANCE" />
		    </logger>
        </then>
    </if>
    <if condition='property("spring.profiles.active").equals("prod")'>
        <then>
            <root level="error">
                <appender-ref ref="FILE"/>
            </root>
        </then>
    </if>

</configuration>